NODE_ENV=development
SECRET_KEY="!my-super-secret-key!"

#TZ="YOUR_DESIRED_TIME_ZONE"

APP_PORT=3003
APP_DOMAIN=localhost
APP_PROTOCOL=http

APP_PREVIEW=false
APP_PREVIEW_URL=clip.ngrok.io

# MONGODB CONFIG
DATABASE_SERVER="mongodb://127.0.0.1:27017"
DATABASE_NAME="ownclipboard"
DATABASE_PASSWORD="password"